body {
  background-color: rgb(28, 28, 28);
}

.dhruvaimg {
  width: 393.12px;
  height: 524.16px;
  border: 5px solid rgb(200, 200, 200);
  border-radius: 50px;
}

.sectionseparate {
  margin-top: 40px;
}

.homemargin {
  align-items: center;
  position: absolute;
}

.topbox {
  margin-top:
    margin-bottom: 7.5px;

}

.botbox {
  margin-top: 7.5px;
}

.rap-card {
  border: 5px solid rgb(200, 200, 200);
  border-radius: 25px;
  width: 35%;
  height: 600px;
  background-color: rgb(17, 17, 17);
}

.cardimg {
  width: 40%;
  border: 5px solid rgb(200, 200, 200);
  height: 50%;
}

.contact-form {
  border: 5px solid rgb(200, 200, 200);
  border-radius: 25px;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin: auto;
  background-color: rgb(17, 17, 17);
  max-width: 1200px;
}

.inner-contact {
  width: 100%;
}

.footer {
  background-color: black;
  height: 200px;
}

.footertext {
  border-bottom: 1px solid white;
  margin-top: 130px;
  margin-left: 250px;
  padding-bottom: 10px;
}

.navbg {
  background-color: rgb(17, 17, 17);
  border-bottom: 5px solid rgb(200, 200, 200);
}

.text-color-white {
  color: rgb(200, 200, 200);
}

.contactbutton {
  margin-top: 20px;
  background-color: rgb(17, 17, 17);
  border: 5px solid rgb(200, 200, 200);
  color: white;
}

.contactbutton:hover {
  margin-top: 20px;
  background-color: rgb(200, 200, 200);
  border: 5px solid black;
  color: black;
}

.contacttitle {
  color: rgb(200, 200, 200);
  margin-bottom: 5px;
}

.rap_card {
  background-color: rgb(17, 17, 17);
  padding: 20px;
  border: 5px solid rgb(200, 200, 200);
  border-radius: 5px;
  margin-right: 15px;
}

.rapimg {
  border: 5px solid rgb(200, 200, 200);
  border-radius: 5px;
  margin-bottom: 30px;
  transition-duration: 1s;

}

.rapimg:hover {
  border: 5px solid rgb(200, 200, 200);
  border-radius: 250px;
  margin-bottom: 30px;
  transition-duration: 1s;
}

.raptitle {
  color: rgb(200, 200, 200);
  margin-bottom: 30px;
}

.play_pause {
  background-color: rgba(255, 0, 0, 0)(255, 255, 255);
}

.buttonplaypause {
  background-color: rgb(200, 200, 200);
  border-radius: 25px;
  border: 2px solid rgb(200, 200, 200);
}

.buttonplaypause:hover {
  background-color: black;
  border-radius: 25px;
  border: 2px solid black;
  color: rgb(200, 200, 200);
}

.sectiontitles {
  color: rgb(200, 200, 200);
  font-size: 75px;
  margin-bottom: 40px;
  font-family: 'Nova Square', sans-serif;
}

.regtext {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(200, 200, 200);
}

.summarytext {
  font-size: 25px;
  font-family: 'AR One Sans', sans-serif;
  color: rgb(200, 200, 200);
}

.summarycontainer {
  padding: 35px;
  height: 255px;
  background-color: rgb(17, 17, 17);
  border: 5px solid rgb(200, 200, 200);
  margin-top: 30px;
}
.heroimg {
  border: 5px solid rgb(200, 200, 200);
}
/* --------------------------------{Footer Start}---------------------------------------------- */
.site-footer {
  background-color: rgb(17, 17, 17);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  border-top: solid rgb(200, 200, 200) 5px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}



.img-size {
  border-radius: 360px;
  height: 40px;
  width: 40px;
}

/* --------------------------------{Footer End}---------------------------------------------- */
.divcontaintext {
  word-wrap: break-word;
  overflow: auto;

}

.navbar-nav {
  --bs-nav-link-hover-color: rgba(255, 255, 255, 0.8);
}
.messagebox {
  padding-left: 33px;
}
.hamburger {
  color: white;
}