.dhruvaimg {
    width: 393.12px ;
    height: 524.16px;
    border: 5px solid black;
    border-radius: 50px;
}

.sectionseparate {
    margin-top: 40px;
    margin-left: 60px;
}
.summarytext {
    padding: 35px;
    background-color: rgb(0,0,0,0.25);
}
.homemargin {
    align-items: center;
    position:absolute;
}
.topbox {
    margin-top: 50px;
    margin-bottom: 150px;

}
.botbox {
margin-top: 150px;
}
.rap-card {
    border: 5px solid black;
    border-radius: 25px;
    width: 20%;
    height:600px;
    background-color: grey;
}
.rapcarousel {
    margin: auto;
}
.cardimg {
    width: 70%;
    border: 5px solid black;
    height: 10px;
}