.dhruvaimg {
    width: 393.12px ;
    height: 524.16px;
    border: 5px solid black;
    border-radius: 50px;
}

.sectionseparate {
    margin-top: 40px;
}
.summarytext {
    padding: 35px;
    background-color: rgb(0,0,0,0.25);
}
.homemargin {
    align-items: center;
    position:absolute;
}
.topbox {
    margin-top: 
    margin-bottom: 175px;

}
.botbox {
margin-top: 175px;
}
.rap-card {
    border: 5px solid black;
    border-radius: 25px;
    width: 35%;
    height:600px;
    background-color: grey;
}
.rapcarousel {
    margin: auto;
}
.cardimg {
    width: 70%;
    border: 5px solid black;
    height: 10px;
}
.contact-form {
    border: 5px solid black;
    border-radius:25px;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    width: 60%;
    margin: auto;

}
.inner-contact {
 width: 100%;
}
.footer {
    background-color: black;
    height: 200px;
<<<<<<< HEAD
}
.spotify {
    margin-left: 25%;
    margin-right: 25%;
=======
>>>>>>> bb76de5ec5f2cd91d1c5468fb2866e55404d1a3f
}